name: リリース用中間ブランチにmasterをマージ
on:
  push:
    branches:
      - master
jobs:
  merge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1.2.0
        with:
          ref: ${{github.event.pull_request.head.ref}}
      - name: Run tests with ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: 更新対象の中間ブランチ名を取得し、カンマ区切りの文字列にする
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO: https://${{github.actor}}:${{secrets.GITHUB_TOKEN}}@github.com/${{github.repository}}.git
        run: |
          git config pull.rebase false
          git config --global user.name "hdyngd"
          git config --global user.email "hyanagida.0721@gmail.com"
          git remote set-url origin ${REPO}
          git fetch -a
          
          echo "BRANCHES=$(echo $BRANCH | git branch -a | grep feature/release-20 | sed -e 's@remotes/origin/@@g' | tr '\n' ',' | sed -e 's/,$/\n/g' | sed 's/ //g')" >> $GITHUB_ENV
      - name: マージしていく
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO: https://${{github.actor}}:${{secrets.GITHUB_TOKEN}}@github.com/${{github.repository}}.git
        run: |
          git config pull.rebase false
          git config --global user.name "hdyngd"
          git config --global user.email "hyanagida.0721@gmail.com"
          git remote set-url origin ${REPO}
          
          git checkout master    
          git fetch -a
          git branch -a

          echo 'pull origin master'
          git pull origin master

          for BRANCH in ${BRANCHES//,/ }; do
            echo 'checkout'
            git checkout $BRANCH 
            git pull origin $BRANCH
            git log -1

            echo 'mergeする'
            git merge --allow-unrelated-histories --no-ff master

            echo 'pushする'
            git push origin $BRANCH
          done